.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.header-logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-nav {
    display:flex;
    padding: 15px;
    width: 100%;
    
}

@media (max-width: 768px) {
    .header {
      align-items: center;
      gap: 10px;
      text-align: center;
    }
  
    .header-nav {
      justify-content: center;
    }
  }